h1 {
  font-family: Monoton, sans-serif;
}
td {
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

div {
  margin: 0 auto;
  width: fit-content;
}

.tprop {
  float: right;
}

input[type=submit] {
  margin-left: 17px;
}

.grid-container {
  margin-top: 10px;
}
