/* Header */
h1 {
  font-family: Monoton, sans-serif;
}


/* Settings */
div {
  margin: 0 auto;
  width: fit-content;
}


.tprop {
  float: right;
}


input[type=submit] {
  margin-left: 17px;
}


/* Created table */
.grid-container {
  margin-top: 10px;
}


td {
  border: 1px solid black;
  height: 15px;
  width: 15px;
}
